/* general styling */

@media (max-width: 768px) {
  .image-container {
    width: 100%;
    justify-content: flex-start; /* Adjust alignment for smaller screens */
  }
}


/* note: old background color: #fae8e8 */
body {
  font-family: monospace;
  background-color: white;
  margin-top: 10%;
  padding: 0; /* Remove default padding */
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  justify-content: flex-start; /* Align items to the top */
  align-items: center; /* Center the content horizontally */
  min-height: 100vh; /* Ensure the body takes up the full viewport height */
}

header {
  position: absolute;
  top: 0;
  left: 20;
  text-align: left;
  
}

footer {
  text-align: center;
  margin-top: auto; /* Push the footer to the bottom */
  margin-bottom: 10px;
  max-width: 100%;
}
    
    h1{
      font-size:30px;
      color:black;
      font-family: sans-serif;
      margin-bottom: 0px;
    }

    h3{
      font-size:18px;
      color:black;
    }
    
    h4{
      font-size:15px;

    }
    
    p{
      font-size:14px;
      line-height: normal;
      color:black;
      margin-top: 0px;
    }

    a {
    color: blue; /* Link color for unvisited links */
    }

    a:visited {
    color: purple; /* Link color for visited links */
    }

/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px; /* this is the horizontal scrollbar */
  background: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: transparent;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: black; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: red; 
}

/* grid styling */

.image-container {
  width: 100%; /* Take up the entire body width */
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  padding: 100px;
  justify-content: center; /* Center the images horizontally */
}

.image-wrapper {
  width: 16%; /* Adjust the width for your desired number of columns and gap */
  position: relative;
  margin: 5px;
  box-sizing: border-box;
}

.image-wrapper img {
  height: auto; /* Set the height to 200px */
  width: 80%; /* Ensure the image fills the container width */
  vertical-align: middle; /* Add this line */
}

.image-wrapper:hover img{
  transform: scale(1.1); /* Scale up the image on hover */
}


/* popup styling */
.popup {
  display: none;
  position: absolute;
  border-radius: 10px;
  top: 20%;
  left: 30%;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 90%;
  background-color: #fcf5ca;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: move;
  z-index: 9999;
}

.popup.open {
  display: block;
  z-index: 9999;
}

.popup-content {
  padding: 20px;
  text-align: center;
}

.popup-content p {
  text-align: left;
}
.popup-close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  background-color: #fcf5ca;
  border: none;
  cursor: pointer;
  float: right;
}

/* individual styling */


#popup1 {
  /* worm */
  width: 200px;
  height: auto;
  top: 4%;
  left: 20%;
}


#popup2 {
  /* blue notebook */
  width: 300px;
  height: auto;
}



#popup3 {
  /* fish */
  width: 300px;
  height: auto;
}



#popup4 {
  /* heart */
  width: 200px;
  height: auto;
}



#popup8 {
  /* todo hammer */
  width: 300px;
  height: auto;
}


#popup10 {
  /* ants */
  width: 250px;
  height: auto;
}