    
    body{
      font-family: monospace;
      background-color: #fae8e8;
      max-width: 60%;
      text-align: center;
      margin: 0 auto;
    }
    
    header{
      text-align: center;
      margin: 1em;
    }
    
    h1{
      font-size:30px;
      color:black;
      font-family: sans-serif;
    }

    h3{
      font-size:18px;
      color:black;
    }
    
    h4{
      font-size:15px;
      line-height: 0.25;
    }
    
    p{
      font-size:12px;
      line-height: normal;
      color:black;
    }

    a {
    color:#e3245e; /* Link color for unvisited links */
    }

    a:visited {
    color: #70132f; /* Link color for visited links */
    }

    /* code.js */
    #content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .item {
      width: 200px;
    }
    
    /* codeusingtable.js */
    table{
      margin: 0 auto;
      text-align: left;
    }
    
    td{
      padding: 6px;
    }

/* for columns */
 .container {
      display: flex;
      flex-direction: row;
      max-width: 100%;
      margin: 0 auto;
    }
    .left-column {
      flex: 50%;
      padding: 10px;
      box-sizing: border-box;
    }
    .right-column {
      flex: 50%;
      padding: 10px;
      box-sizing: border-box;
    }