    
    body{
      font-family: monospace;
      background-color: white;
      max-width: 40%;
      text-align: center;
      margin: 0 auto;
    }
    
    header{
      text-align: center;
      margin: 1em;
    }
    
    h1{
      font-size:30px;
      color:black;
      font-family: sans-serif;
    }

    h3{
      font-size:18px;
      color:black;
    }
    
    h4{
      font-size:15px;

    }
    
    p{
      font-size:12px;
      line-height: normal;
      color:black;
    }

    a {
    color: blue; /* Link color for unvisited links */
    }

    a:visited {
    color: purple; /* Link color for visited links */
    }

/* image and icon formatting */

#image-1{  /* photobooth pic */
  position: absolute;
  width: auto;
  height: 50%;
  top: 5%;
  left: 5%;
  bottom: 30%;
  z-index: -1;
}

#image-2{ /*selfie w boson */
  position: absolute;
  width: 15%;
  height: auto;
  top: 65%;
  left: 30%;
  z-index: -1;
}

#image-3{ /* boson */
  position: absolute;
  width: auto;
  height: 20%;
  top: 10%;
  left: 55%;
  bottom: 30%;
  z-index: -1;
}

#image-4{ /* mirror photo */
  position: absolute;
  width: auto;
  height: 50%;
  top: 40%;
  left: 75%;
  bottom: 30%;
  z-index: -1;
}

#icon-1{
  position: absolute;
  width: auto;
  height: 30%;
  top: 2%;
  left: 75%;
  bottom: 30%;
  z-index: -1;
}

#icon-2{
  position: absolute;
  width: auto;
  height: 25%;
  top: 55%;
  left: 12%;
  bottom: 30%;
  z-index: -1;
}

#icon-3{
  position: absolute;
  width: 50%;
  height: auto;
  top: 60%;
  left: 50%;
  bottom: 30%;
  z-index: -1;
}


/* Styles for the pop-up window */
#popup {
  display: none;
  position: absolute;
  top: 45%;
  left: 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 400px;
  padding: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: move;
  z-index: 9999;
}

#popup-content {
  margin-bottom: 10px;
  flex: 1;
  width: 100%;
  overflow: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#popup-close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
  float: right;
}

#popup-next {
  display: inline-block;
  padding: 5px 10px;
  background-color: #ddd;
  border: 1px solid #999;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  margin-right: 5px;
}

#popup-prev:hover,
#popup-next:hover,
#popup-close:hover {
  background-color: #ccc;
}



.popup-title-bar {
  background-color: #ccc;
  padding: 5px;
  margin: -20px -20px 10px -20px;
  border-bottom: 1px solid #999;
  color: #333;
  font-weight: bold;
}

#popup-trigger {
  font-family: monospace;
  display: inline-block;
  padding: 5px 10px;
  background-color: #ddd;
  border: 1px solid #999;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  margin-right: 5px;
}
