/* loading in assets */

@font-face {
  font-family: '000webfont';
  src: url('https://cdn.glitch.global/413e5956-791d-4fa2-a850-40e6e17d90ec/000webfont.ttf?v=1689018980143') format('ttf');
}

@font-face {
  font-family: 'basiic';
  src: url('https://cdn.glitch.global/413e5956-791d-4fa2-a850-40e6e17d90ec/basiic.ttf?v=1689020320109') format('ttf');
}

@font-face {
  font-family: 'romanceA';
  src: url('https://cdn.glitch.global/413e5956-791d-4fa2-a850-40e6e17d90ec/RomanceA.ttf?v=1689019118013') format('ttf');
}

@font-face {
  font-family: 'bangalore';
  src: url('https://cdn.glitch.global/413e5956-791d-4fa2-a850-40e6e17d90ec/Bangalore.ttf?v=1689019114899') format('ttf');
}


/* page styling */

    body{
      background-image: url('https://cdn.glitch.global/413e5956-791d-4fa2-a850-40e6e17d90ec/inspire-bg1.png?v=1689149597189');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      font-family: sans-serif;
      font-size: 75%;
      color: black;
      background-color: #fae8e8;
      max-width: 100%;
      text-align: center;
      margin: 0 auto;
    }
    
    header{
      text-align: center;
      margin-bottom: 10px;
      max-width: 100%;
    }

    footer{
      text-align: center;
      margin-bottom: 10px;
      max-width: 100%;
    }

    a {
    cursor: url(https://cdn.glitch.global/413e5956-791d-4fa2-a850-40e6e17d90ec/girlnet_Point-Normal-Select.cur?v=1689063698584), auto;
    color:#ff3686; /* Link color for unvisited links */
    }

    a:hover {
    cursor: url(https://cdn.glitch.global/413e5956-791d-4fa2-a850-40e6e17d90ec/girlnet_Point-Normal-Select.cur?v=1689063698584), auto;
    }

    a:visited {
    color: #ff3686; /* Link color for visited links */
    }
    
    h1{
      font-size: 200%;
      color:#ff3686;
      padding: 0px;
    }

    h2{
      font-size: 200%;
      color:#ff3686;
      padding: 0px;
    }

    h3{
      font-size: 150% ;
      color:#ff3686;
      padding: 0px;
    }
    
    h4{
      font-size: 125%;
      color:#ff3686;
      padding: 0px;

    }
    
    p{
      font-size: auto;
      line-height: normal;
      color:#ff3686;
    }

 .container {
    position: absolute;
    justify-content: center;
    top: 53%;
    left:35%;
    max-width: 30%;
    margin-left: auto;
    margin-right: auto;
  }

/* popup styling */
.popup {
  display: none;
  position: absolute;
  border-radius: 10px;
  top: 20%;
  left: 30%;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 100%;
  background-image: url('https://cdn.glitch.global/413e5956-791d-4fa2-a850-40e6e17d90ec/girlnet_skybg1.png?v=1689227558678');
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: move;
  z-index: 9999;
}

.popup.open {
  display: block;
  z-index: 9999;
}

.popup-content {
  padding: 20px;
  text-align: center;
}

.popup-content p {
  text-align: left;
}

.popup-close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  color:#ff3686;
  border: none;
  cursor: pointer;
  float: right;
}




  
/* for individual objects */



/* STICKERS */

.image1 {
  /* lisa frank tiger */
  position: absolute;
  cursor: pointer;
  top: 80%;
  left: 44%;
  width: 100px;
  height: auto;
}
#popup1 {
  /* lisa frank tiger */
  width: 200px;
  height: 200px;
  top: 70%;
  left: 42%;
  overflow-x: hidden;
  overflow-y: auto;
}

.image2 {
  /* hummingbird */
  position: absolute;
  cursor: pointer;
  top: 20%;
  left: 65%;
  width: 100px;
  height: auto;
}
#popup2 {
  /* hummingbird */
  width: 200px;
  height: 200px;
  top: 20%;
  left: 65%;
  overflow-x: hidden;
  overflow-y: auto;
}

.image3 {
  /* bears */
  position: absolute;
  cursor: pointer;
  top: 69%;
  left: 30%;
  width: 100px;
  height: auto;
}
#popup3 {
  /* bears */
  width: 200px;
  height: 200px;
  top: 66%;
  left: 26%;
  overflow-x: hidden;
  overflow-y: auto;
}

.image4 {
  /* berry good */
  position: absolute;
  cursor: pointer;
  top: 10%;
  left: 14%;
  width: 100px;
  height: auto;
}
#popup4 {
  /* berry good */
  width: 200px;
  height: 200px;
  top: 8%;
  left: 8%;
  overflow-x: hidden;
  overflow-y: auto;
}

.image5 {
  /* blk orange cats */
  position: absolute;
  cursor: pointer;
  top: 69%;
  left: 5%;
  width: 100px;
  height: auto;
}
#popup5 {
  /* blk orange cats */
  width: 200px;
  height: 200px;
  top: 69%;
  left: 5%;
  overflow-x: hidden;
  overflow-y: auto;
}

.image6 {
  /* yellow pig */
  position: absolute;
  cursor: pointer;
  top: 69%;
  left: 60%;
  width: 100px;
  height: auto;
}
#popup6 {
  /* yellow pig */
  width: 200px;
  height: 200px;
  top: 69%;
  left: 60%;
  overflow-x: hidden;
  overflow-y: auto;
}

.image7 {
  /* toys r us */
  position: absolute;
  cursor: pointer;
  top: 40%;
  left: 80%;
  width: 200px;
  height: auto;
}
#popup7 {
  /* toys r us */
  width: 200px;
  height: 200px;
  top: 40%;
  left: 80%;
  overflow-x: hidden;
  overflow-y: auto;
}

.image8 {
  /* hello kitty */
  position: absolute;
  cursor: pointer;
  top: 17%;
  left: 84%;
  width: 100px;
  height: auto;
}
#popup8 {
  /* hello kitty */
  width: 200px;
  height: 200px;
  top: 12%;
  left: 80%;
  overflow-x: hidden;
  overflow-y: auto;
}

.image9 {
  /* unicorn */
  position: absolute;
  cursor: pointer;
  top: 37%;
  left: 7%;
  width: 150px;
  height: auto;
}
#popup9 {
  /* unicorn */
  width: 200px;
  height: 200px;
  top: 37%;
  left: 7%;
  overflow-x: hidden;
  overflow-y: auto;
}