/* loading in assets */


@font-face {
  font-family: 'virale'; /* This is an arbitrary name -- whatever works for you */
  src: url('https://cdn.glitch.global/413e5956-791d-4fa2-a850-40e6e17d90ec/virale.ttf?v=1689398391789') format('ttf'),
}

@font-face {
  font-family: 'basiic'; /* This is an arbitrary name -- whatever works for you */
  src: url('https://cdn.glitch.global/413e5956-791d-4fa2-a850-40e6e17d90ec/basiic.ttf?v=1689398260075') format('ttf'),
}



/* general page styling */

header {
  text-align: center; /* Center the text content horizontally */
  font-family: sans-serif;
  font-style: normal;
}

/* Navigation Links */
header p {
    display: flex;
    flex-wrap: wrap; /* Ensure links wrap on smaller screens */
    justify-content: center; /* Center links horizontally */
    gap: 10px; /* Add spacing between links */
    padding: 10px; /* Add padding for better spacing */
}

body {
  align-items: center;
  justify-content: center;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  background-color: white;
  font-color: white;
}



footer {
    position: fixed; /* Fixed position so it stays at the bottom of the viewport */
    left: 0; /* Align to the left */
    bottom: 0; /* Align to the bottom */
    width: 100%; /* Take the full width of the viewport */
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 10px;
}


.image-class {
    width: 100%; /* Set the desired width */
    height: auto; /* Let the height adjust automatically to maintain aspect ratio */
}



/* within the screen */
#screen {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vh; /* Set a specific width (adjust as needed) */
  height: auto; /* Set a specific height (adjust as needed) */
  background-color: white;
  /* border: 2px dotted black; */
  /* box-shadow: 0 20px 40px rgba(0, 0, 0, 0.50); */
}

#screen img {
  display: flex;
  width: 50vh;
  height: auto;
  margin: 0; /* Remove default padding */
}

#screen h1{
  font-family: Arial, sans-serif;
  font-style: oblique;
}

#screen h3{ /* styles the ASCII */
  font-family: Courier New, Courier, monospace; 
  font-size: 18px;
}


#content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center contents horizontally */
  justify-content: center; /* Center contents vertically */
  width: 100%; /* Take up the full width of #screen */
  height: 100%; /* Take up the full height of #screen */
  text-align: center;
}

#display-container {
  width: 300px;
  height: 50px;
  background-color: white;
  border: red;
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  font-style: normal;
  margin-bottom: 20px; /* Add margin between display-container and button */
}

#refresh-button {
  padding: 10px;
  width: 70px; /* Set a fixed width for the button */
  height: 70px; /* Set a fixed height for the button */
  background-image: url('https://cdn.glitch.global/413e5956-791d-4fa2-a850-40e6e17d90ec/refreshbutton1.png?v=1707025544791');
  background-color: transparent;
  background-size: cover; /* Make sure the background image covers the entire button */
  border: none; /* Remove button border */
  cursor: pointer; /* Change cursor to pointer on hover */
}

    a {
    color:black; /* Link color for unvisited links */
    }

    a:visited {
    color: blue; /* Link color for visited links */
    }
    