   body{
      font-family: monospace;
      background-image: url('https://cdn.glitch.global/413e5956-791d-4fa2-a850-40e6e17d90ec/minecraft1.jpg?v=1689185414077');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      text-align: left;
      margin: 0;
     overflow-y: hidden;

  }
    
    
    header{
      text-align: center;
      margin: 1em;
      color: #fff8eb;
    }

   header p{
      color: #fff8eb;
      text-shadow:1px 1px 3px #0d9114, 1px 1px 3px #0d9114;
    }

 .container {
    display: flex;
    justify-content: center;
    overflow-x: hidden;
   overflow-y: hidden;
    flex-direction: row;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
  }

.body-column {
  background-color: transparent;
  border-radius: 10px;
  padding: 0px;
  box-sizing: border-box;
  border: 1px white;
  height: 700px;
  overflow: auto;
  overflow-x: auto;
  overflow-y: hidden;
}
    
    /*img{
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }*/

    img{
      display: inline-block;
      width: 190px; 
      padding: 0rem;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    
.custom-hr {
  border: none;
  height: 1px;
  background-color: rgba(50, 38, 31, 0.1);  /* Change to any color you prefer */
  margin: 20px 0;
}
    
    h1{
      font-size:30px;
      text-shadow:1px 1px 3px #0d9114, 1px 1px 3px #0d9114;
      font-family: sans-serif;
    }
    h3{
      font-size:18px;
      color: #0d9114;

    }
    
    h2{
      font-size:20px;
      font-style: italic;
      color: #0d9114;

    }
    
    h4{
      font-size:15px;
      color: #0d9114;
    }
    
   h5 {
  font-size: 14px;
  line-height: normal;
  color: #0d9114;
  padding: 5px 10px; /* Padding for space inside the border */
  border: 1px solid #0d9114; /* Define border width, style, and color */
  border-radius: 40px; /* Rounded corners */
  display: inline-block; /* Makes border fit tightly around text */
}
    
    p{
      font-size:13.5px;
      line-height: normal;
      color:#fff8eb;
    }
    
    a {
    color: #fff8eb;
    }

    a:visited {
    color: #fff8eb; /* Link color for visited links */
    }

footer {
  margin: 20px;
  text-align: center;
}
    
    /* code.js */
    #content {
      display: block;
      background: rgb(0, 0, 0, .3);
      border-radius: 10px;
      justify-content: flex-start;
      align-contet: flex-start;
      padding: 20px;
      margin: 20px;
      height: 100%;
      overflow-y: auto;
      
    }

    
    /* codeusingtable.js */
    table{
      margin: 0 auto;
    }
    
    td{
      padding: 0px;
    }
 
/* Style for the navigation buttons */
nav button {
  background-color: transparent; /* Light background color */
  border: 1px solid #0d9114; /* Light gray border */
  color: #0d9114; /* Darker text color */
  padding: 5px 10px; /* Padding for button size */
  margin: 5px; /* Space between buttons */
  border-radius: 40px; /* Rounded corners */
  display: inline-block;
  cursor: pointer; /* Pointer cursor for buttons */
  font-size: 12px; /* Font size */
  font-family: monospace;
  transition: background-color 0.3s, color 0.3s;  /*  Smooth transition for hover effects */
}

/* Hover effect for buttons */
nav button:hover {
background-color: #0d9114;
color: #f2ece1;
}


/* Active/selected button styling */
nav button.active {
  font-weight: bold; /* Make the selected button bold */
  background-color: #0d9114; /* Darker background */
  color: #f2ece1; /* White text for contrast */
}

/* Style for the category description */
#category-description {
  text-align: center;
  color: #0d9114;
  text-shadow: none;
  
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: transparent;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: black; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fff8eb; 
}
