    body{
      font-family: monospace;
      font-style: oblique;
      margin-left: 20px;
      width: 30%;
      text-align: right;
    }
    
    header{
      text-align: left;
      margin: 1em;
      margin-bottom: 20px;
      margin-right: 20px;
    }
    header a {
    color:blue; /* Link color for unvisited links */
    }

    header a:visited {
    color: purple; /* Link color for visited links */
    }
  

    img{
      display: inline-block;
      width: 190px; 
      padding: 0rem;
      overflow: hidden;
      text-overflow: ellipsis;
    }
 
    h1{
      font-size:30px;
    }
    
    h3{
      font-size:18px;
      color:black;
    }
    
    h4{
      font-size:15px;
    }
    
    p{
      font-size:15px;
      line-height: normal;
      color:black;
    }
    
    a {
    color:blue; /* Link color for unvisited links */
    }

    a:visited {
    color: purple; /* Link color for visited links */
    }
    
